<nav class="navbar navbar-default ctg-navbar-default">
  <div class="container">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">
        <img class="logo" alt="Brand" src="../../assets/img/tcs.png">
      </a>
      <a class="navbar-brand ctg-title" href="#">C2G</a>
    </div>
    <div class="collapse navbar-collapse">
      <p class="navbar-text navbar-right">
        <img class="navbar-persona" alt="User Image" src="{{userImage}}">
      </p>
      <p class="navbar-text navbar-right">{{userInfo?.firstName}}</p>
      <ul class="nav navbar-nav navbar-right">
        <li>
          <a href="#">My Courses</a>
        </li>
      </ul>
    </div>
  </div>
</nav>